*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #3a305f;
  --color-neutral: #eeeeee;
  --color-secondary: #c4c4c4;
  --color-danger: rgb(207, 18, 18);
  --color-dark: #000;
  --color-grey: #444;
  --color-success: rgb(13, 110, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  background-color: var(--color-neutral);
  max-width: 80rem;
  line-height: 1.5;
  font-size: 125%;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

h1 {
  line-height: 1.1;
  color: var(--color-neutral);
}

h2 {
  background-color: var(--color-neutral);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  padding-left: 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
  max-height: 22rem;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

section {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  margin-right: 0.6rem;
  padding-bottom: 1.5rem;
}

aside {
  flex-grow: 1;
  border-top: 0.125rem solid var(--color-secondary);
  padding-left: 0.6rem;
}

[type="text"] {
  width: 100%;
  padding: 0.5rem 1.875rem;
  caret-color: var(--color-danger);
  flex-grow: 1;
}

input,
[type="button"] {
  border: 0.125rem solid var(--color-neutral);
  border-radius: 0.25rem;
  font-size: inherit;
  line-height: 1;
}

[type="button"] {
  min-width: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  background: var(--color-dark);
  color: var(--color-neutral);
  padding: 0.5rem;
  margin-right: 0.5rem;
}

[type="text"]:focus,
[type="button"]:focus,
[type="button"]:not(:disabled):hover {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--color-danger);
}

[type="button"][aria-label^="Delete"]:hover,
[type="button"][aria-label^="Delete"]:focus,
[type="button"][aria-label^="close"]:hover,
[type="button"][aria-label^="close"]:focus {
  box-shadow: 0 0 0 0.125rem var(--color-dark);
}

:disabled {
  background-color: var(--color-secondary);
}

[data-nominated="true"] {
  background-color: var(--color-success);
}

[aria-label^="Delete"],
[aria-label^="close"] {
  background-color: var(--color-danger);
}

.vh {
  /*Visually Hidden*/
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.headerContainer {
  width: 100%;
  background-color: var(--color-primary);
  padding: 20px 20px;
}

.searchInput {
  position: relative;
  margin-top: 1rem;
}

.searchInput [aria-hidden] {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.3125rem;
}

li {
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  border-bottom: 0.125rem solid var(--color-secondary);
}

li:hover {
  background-color: var(--color-secondary);
  transition: background-color 0.25s ease-in-out;
}

.text {
  max-width: 30ch;
  display: flex;
  align-items: center;
}

.pagination {
  position: sticky;
  top: 100%;
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination [type="button"] {
  background-color: var(--color-primary);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.pagination :disabled {
  background-color: var(--color-secondary);
}

[data-banner] {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 0;
  line-height: 1;
  color: var(--color-success);
  font-weight: bold;
  transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

[data-modal-open] {
  overflow: hidden;
}

[data-banner="open"] {
  height: 3.125rem;
  padding: 3px;
}

[data-modal] {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 1;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-text {
  position: relative;
  background: white;
  padding: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.modal-header :last-child {
  max-width: 40ch;
}

[data-modal="hide"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

[data-modal="show"] {
  visibility: visible;
  opacity: 1;
}

[data-modal] button {
  position: absolute;
  top: 10%;
  right: 10%;
}

[data-modal] img {
  width: 7.5rem;
  height: 12.5rem;
  margin-right: 1rem;
}

.modal-text p > span, .rating, .text button {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.125rem;
}

.modal-text * > * + * {
  margin-top: 0.5rem;
}

.rating, .text button {
  border-radius: 50%;
}

.text button {
  height: 20px;
  width: 20px;
  margin-left: 0.5rem;
}

.empty-state {
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

ul:not(:empty) + .empty-state {
  display: none;
}

h2 ~ .empty-state {
  display: none;
}

footer {
  color: #e04110;
  font-style: italic;
}

::-webkit-input-placeholder {
  color: var(--color-grey);
  font-style: italic;
}

::-moz-placeholder {
  color: var(--color-grey);
  font-style: italic;
}

:-ms-input-placeholder {
  color: var(--color-grey);
  font-style: italic;
}

:-moz-placeholder {
  color: var(--color-grey);
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(167, 156, 145);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border-radius: 2.5rem;
}

@media screen and (min-width: 49em) {
  body {
    overflow: hidden;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-primary);
    padding: 20px;
  }

  .searchInput {
    margin-top: 0;
    flex-basis: 19.1875rem;
    transition: flex-basis 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .searchInput:focus-within {
    flex-basis: 80%;
  }

  .pagination {
    left: 50%;
    transform: translateX(-90%);
  }

  h2 {
    position: sticky;
    top: 0;
  }

  ul {
    height: 22rem;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    flex-wrap: nowrap;
  }

  [data-modal] {
    position: absolute;
  }

  section {
    flex-basis: 60%;
  }

  aside {
    border-top: 0;
    border-left: 0.125rem solid var(--color-secondary);
  }
}
